<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Przychodnia</title>
</head>
<body>


    <form th:action="@{/doctor/create}" method="POST" th:object="${doctor}">
        <table>
            <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${doctor.id}"/></td></tr>
            <tr><td>Imie:</td><td><input type="text" id="name" name="name" th:value="${doctor.name}"/></td></tr>
            <tr><td>Nazwisko:</td><td><input type="text" id="surname" name="surname" th:value="${doctor.surname}"/></td></tr>
            <tr><td>Specializacja:</td><td>
                <select th:field="*{specialization}">
                    <option th:each="i : ${specializations}" th:value="${i.id}" th:text="${i.label}"></option>
                </select>
            </td></tr>



            <tr><td></td><td> <button type="submit">Zatwierdź</button></td></tr>
        </table>
    </form>

</body>
</html>