<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Przychodnia</title>
</head>
<body>


    <form th:action="@{/doctor/create}" method="POST" th:object="${doctor}">
        <table>
            <tr><td></td><td><input type="hidden" id="id" name="id"/></td></tr>
            <tr><td>Imie:</td><td><input type="text" id="name" name="name"/></td></tr>
            <tr><td>Nazwisko:</td><td><input type="text" id="surname" name="surname"/></td></tr>
            <tr><td>Specializacja:</td><td><input type="text" id="specialization" name="specialization"/></td></tr>

            <tr><td></td><td> <button type="submit">Utwórz</button></td></tr>
        </table>
    </form>

</body>
</html>