<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <meta charset="UTF-8">
    <title>E-Przychodnia</title>
</head>
<body>
    Welcome in our medical facility <span th:text="${todayDate}"/>

    <ul>
        <li><a class="btn btn-danger" role="button" th:href="@{/doctor/get/OCULIST}">Oculists</a></li>
        <li><a class="btn btn-danger" role="button" th:href="@{/doctor/get/INTERNIST}">Inernists</a></li>
    </ul>

    <a th:href="@{/visit/create}">Schedule meeting</a>

    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/doctor/create}">Create new doctor</a>
    </div>

    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">

        Logged as: <span sec:authentication="name"></span> |

        <div>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </div>

    <div th:fragment="login" class="logout" sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
    </div>
</body>
</html>